@import url('https://fonts.googleapis.com/css2?family=Chango&family=Montserrat+Alternates:ital,wght@0,500;0,600;1,700&family=Montserrat:wght@400;500;600&display=swap');

.home-container {
    background-image:url(img/home_img.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

.page-container{
    background-color: #FBF7EF;
}

.bg-dark {
    background-color: #0C1D0C !important;
}

.navbar-dark {
    color:#FBF7EF !important;
}

.navbar-brand {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 3.5vh;
}

.custom-toggler {
    border-color: #FBF7EF !important;
    fill: #FBF7EF !important;
}

.navbar-nav li a{
    color:#FBF7EF !important;
    font-family:'Montserrat', sans-serif;
}

.home-title h1 {
    font-family: 'Chango', sans-serif;
    color: #FBF7EF;
    margin-top: 10vh;
    font-size: 10vw;
}

.subtitle {
    margin-top: 5vh;    
    font-family: 'Montserrat Alternates', sans-serif;
    color:#FBF7EF;
    font-style: italic;
    font-size: 3vw;
}

.home-btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color:#0C1D0C;
    background-color:#A4B98D;
    padding: 0.6rem;
    border-color:#0C1D0C;
    border-radius: 4px;
}

.page-btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color:#FBF7EF;
    background-color:#4A5936;
    padding: 0.6rem;
    border-color:#0C1D0C;
    border-radius: 4px;
}

.btn:hover {
    color:#FBF7EF;
    background-color: #aa4d22;
    border-color: #0C1D0C;
}

.text-body {
    color:#0C1D0C;
    font-family: 'Montserrat', sans-serif;
}

.border-primary {
    border-color: #0C1D0C !important;
}

.page-title {
    font-family: 'Chango', sans-serif;
    color:#0C1D0C;
    font-size: 1rem;
    margin-top: 1rem;
}

.img-fluid {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-title {
    color:#0C1D0C;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 600;
}

.card-body {
    color: #0C1D0C;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    background-color: #A4B98D;
    font-size: 2vw;
}

.card-text {
    font-size: 1rem;
}

h4 {
    font-family: 'Montserrat Alternates', sans-serif;
}

.page-subtitle {
    margin: 2vh;   
    font-family: 'Montserrat Alternates', sans-serif;
    color:#aa4d22;
    font-style: italic;
    font-size: 3vw;
}

.level {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 600;
}

.icon {
    padding-bottom: 0; 
}

@media screen and (min-width: 768px){
    .home-title h1 {
        margin-top: 20vh;
        font-size: 8vw;
    }
}

@media screen and (min-width: 992px) {
    .home-title h1 {
        margin-top: 30vh;
        font-size: 7vw;
    }
}